<h2>Kuhmo, Kalliojoki</h2>
<div id="flot-placeholder" style="width:800px; height: 480px"></div>

<script type="text/javascript">
$(function() {
    var seriesdata = [];
    var flotdata = [];
    var options = {
                xaxis: {
                    mode: "time"
                }
            };

    function onDataReceived(data, seriesname, seriesorder, serieslabel) {
        flotdata = [];
        for (i = 0; i < data.length; i++) {
            flotdata.push([new Date(data[i]['ts']).getTime(), 1.0 * data[i]['val']]);
        }

        console.log(flotdata);

        seriesdata[seriesorder] = {label: serieslabel, data: flotdata};

        $.plot("#flot-placeholder", seriesdata, options);
    }

    function getSeries(seriesname, seriesorder, serieslabel) {
        $.ajax({
            url: '/measurements.json?n=' + seriesname + '&starttime=<%= @params[:starttime] %>&endtime=<%= @params[:endtime] %>',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                onDataReceived(data, seriesname, seriesorder, serieslabel);
            }
        });
    }
    getSeries('tmax', 0, 'Ylin');
    getSeries('tday', 1, 'Keskilämpötila');
    getSeries('tmin', 2, 'Alin');
    getSeries('snow', 3, 'Lumen syvyys');
});
</script>